$deafault:#31352b;
$accent:#363853;
$orange:#ff6838;
$gray:#c2c2c2;


%rubik-400 {
  font-family: 'Rubik-Regular',sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium',sans-serif;
  font-weight: 500;
}

%rubik-500it {
  font-family: 'Rubik-MediumItalic',sans-serif;
  font-weight: 500;
  font-style: italic;
}

%rubik-600 {
  font-family: 'Rubik-SemiBold',sans-serif;
  font-weight: 600;
}
